[mysqld]
skip-name-resolve
character_set_server=utf8
datadir=/var/lib/mysql
server-id=1000
log-bin=/var/lib/mysql/mysql-bin
binlog-do-db=heima
binlog-format=ROW
expire_logs_days=7
max_binlog_size=100M
bind-address = 0.0.0.0